<div style="padding:5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="home">Início</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="addTeam">Equipe</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="addEmployee">Funcionário</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="addVacation">Férias</a>
        </li>
    </ul>
    <br/>
    <router-outlet></router-outlet>
</div>